section.main {
    border: 1px solid red;
    color: var(--main-pink);
}

.listing--content-wrapper {
    display: flex;
    flex-direction: column;
}

.listing--image {
    border-radius: 10px;
    margin-bottom: 15px;
}

.listing--heading  {
    margin-bottom: 20px;
}

.listing--heading h1 {
    font-size: 1.125rem;
    font-weight: 500;
}

.listing--heading h2 {
    font-size: 0.875rem;
    font-weight: 500;
}

.listing--wrapper-right{
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px){
    .listing--content-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .listing--heading h1 {
        font-size: 2.25rem;
    }
    
    .listing--heading h2 {
        font-size: 1.125rem;
    }

    .listing--wrapper-right {
        flex-direction: column-reverse;
    }
    
    .collapsible-container {
        display: flex;
        gap: 75px;
    }

    /* WIP - rating+host container on desktop */
}
