
article.card {
    height: 255px;
    display: flex;
    position: relative;
    cursor: pointer;
    /*perhaps try to set this gradient as fallback?*/
    /* background: linear-gradient(180deg, #FF6060 0%, rgb(255, 96, 96, 0.5) 100%);
    border-radius: 10px; */
}

.card--image {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    filter:brightness(85%);
    transition: 0.3s;
}

.card--image:hover {
    filter: none;
}

.card--title {
    color: white;
    font-size: 1.125rem;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    margin: 15px 20px;

    /*added for text visibility*/
    background: linear-gradient(180deg, #FF6060 0%, rgb(255, 96, 96, 0.5) 100%);
    padding: 5px 10px;
    border-radius: 10px;
    text-shadow: 0 0 50px black;
}

@media screen and (min-width: 768px){

    section.home > a {
        flex: 1 1 250px;
    }
    
    article.card {
        height: 340px;
    }

    .card--title {
        margin: 20px;
    }

}