
.collapsible {
    background-color: var(--container-grey);
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 0.75rem;
}

.collapsible--title-container {
    height: 30px;
    background-color: var(--main-pink);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
}

.collapsible--icon {
    height: 19px
}

.collapsible--title {
    color: white;
    font-weight: 500;
}

.collapsible--text {
    color: var(--main-pink);
    font-weight: 400;
    padding: 23px 12px;
}

@media screen and (min-width: 960px){
    .collapsible {
        font-size: 1.5rem; 
        margin: 0 auto 30px auto;
        width: 80%;
    }

    .collapsible--title-container {
        height: 50px;
        padding: 8px 18px;
    }

    .collapsible--icon {
        height: 30px
    }

    .collapsible--text {
        padding: 30px 18px 19px 18px;
    }
}