.hero {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 110px;
    background:  rgb(0, 0, 0, 0.3) url(/public/images/eric-muhr-P_XxsdVgtpQ-unsplash.jpg);
    background-size: 200%;
    background-position: center;
    mix-blend-mode: multiply;
    border-radius: 10px;
    margin: 16px auto 22px auto;
}

.hero--title {
    width: 255px;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 32px 16px;
    text-shadow: 0 0 100px black;
}

@media screen and (min-width: 960px){
    .hero {
        min-height: 220px; 
        background-size: 150%;
        margin: 0 auto 40px auto;
    }
    
    .hero--title {
        width: 100%;
        font-size: 3rem;
        text-align: center;
    }
}