#root {
    margin: 0 auto;
    max-width: 1440px;
}

.container {
    padding: 0 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 960px){
    .container {
        padding: 40px 100px;
        margin-bottom: 40px;
    } 
}